/* 
CSS Organisation rules
	~ Display
	~ Positioning
	~ Box-model
	~ Typography
	~ Manipulation
	~ Misc
*/

.no-dot-point {
	list-style-type: none;
}

.separation-bar {
	border-top: 2px solid #dddedf;
	border-bottom: 2px solid #dddedf;
}

#menu-filter {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: white;
	z-index: 10;
}

#menu-navigation,
#menu-filter > div {
	display: flex;
	align-items: center;
	width: 1000px;
	height: 50px;
}

/* menu-navigation and price-display */

#menu-navigation {
	justify-content: space-around;
}

#menu-navigation > ul {
	display: flex;
	flex: auto;
	gap: 10px;
	height: 100%;
	text-decoration: none;
}

#menu-navigation > ul > li {
	display: flex;
	align-items: center;
}

#menu-navigation > ul > li > a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70%;
	padding: 0 10px 0 10px;
	border-radius: 5px;
	color: black;
	font-size: 1.2em;
	text-decoration: none;
	background-color: none;
}

#menu-navigation > ul > li > a {
	transition: background-color 0.3s !important;
}

#menu-navigation > ul > li > a:hover,
#menu-navigation > ul > li > a:focus {
	background-color: #ebd265;
}

/* menu-filter */

#menu-filter {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

#menu-filter-form {
	display: flex;
	align-items: center;
	flex: auto;
	gap: 10px;
	margin-left: 10px;
}

input[name="menu-filter"] {
	position: absolute;
	opacity: 0;
}

input[name="menu-filter"]:checked + label {
	color: #75670c;
	box-shadow: rgba(235, 210, 101, 0.8) 0px 0px 10px;
	outline: 2px solid #ebd265;
	transition: all 0.2s ease-out;
}

input[name="menu-filter"]:focus + label {
	outline: 2px solid gray;
}

input[name="menu-filter"]:checked:focus + label {
	box-shadow: rgba(235, 210, 101, 0.8) 0px 0px 20px;
	outline: 2px solid #86671e;
}

.menu-filter-label {
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 5px 10px 5px 10px;
	border-radius: 15px;
	font-size: 1.1em;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.menu-filter-label svg {
	width: 20px;
	height: 20px;
}

.menu-filter-label:hover {
	outline: 2px solid gray;
}

#price-display {
	display: flex;
	align-items: center;
	gap: 20px;
	height: 80%;
	padding: 0 10px 0 10px;
	border-radius: 5px;
	color: black;
	text-decoration: none;
	background-color: #ebdea6;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
	transition: all 0.3s ease;
}

#price-display-injection {
	font-size: 1.4em;
}

#price-display:hover,
#price-display:focus {
	background-color: #ebd265;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.price-display-change-flash {
	-webkit-animation: priceFlash 0.5s ease-out 0s;
	animation: priceFlash 0.5s ease-out 0s;
}

@-webkit-keyframes priceFlash {
	0% {
		background-color: #ebdea6;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
	}
	50% {
		background-color: #b9a02d;
		box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
	}
	100% {
		background-color: #ebdea6;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
	}
}

@keyframes priceFlash {
	0% {
		background-color: #ebdea6;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
	}
	50% {
		background-color: #b9a02d;
		box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
	}
	100% {
		background-color: #ebdea6;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
	}
}

/* main stuff */

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
	margin: 10px 0 50px 0;
}

.menu-section {
	display: flex;
	width: 100%;
	max-width: 1000px;
	flex-wrap: wrap;
	gap: 8px;
}

.menu-section-title {
	width: 100%;
}

.menu-section-title > h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.menu-section-title > h2 > span {
	margin: 0 10px 0 10px;
	font-weight: 550;
	white-space: nowrap;
}

.menu-section-title ::before,
.menu-section-title ::after {
	content: "";
	position: relative;
	top: 0px;
	width: 100%;
	height: 2px;
	background-color: #dfdfe3;
}

.menu-card {
	display: flex;
	flex-direction: column;
	width: 240px;
	padding: 2px;
	border-radius: 5px;
	background-color: white;
	transition: box-shadow 0.3s ease;
}

.menu-card:hover {
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
		rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
		rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.menu-card img {
	width: 100%;
}

.menu-card-data {
	display: flex;
	flex-direction: column;
	gap: 5px;
	height: 100%;
	padding: 10px;
}

.card-title {
	flex: auto;
	font-weight: 500;
	letter-spacing: 1.2px;
}

.menu-calorie-display {
	color: #b5b6bd;
	font-size: 0.94em;
}

.card-information > p {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	color: #6b6e79;
	font-size: 0.9em;
	line-height: 1.2em;
	word-wrap: break-word;
	overflow: hidden;
}

.card-information {
	flex: auto;
}

.expand-close-anchor {
	color: #6b6e79;
	font-size: 0.9em;
}

fieldset {
	margin: 10px 0 10px 0;
	border: 0;
}

.card-size-customisation {
	width: 100%;
	padding: 5px;
	margin-top: 5px;
	border: 1px solid #dfdfe3;
	border-radius: 5px;
	font-size: 0.95rem;
	background-color: white;
	transition: all 0.1s ease;
}

.card-size-customisation:hover {
	border: 1px solid black;
}

.card-size-customisation:focus {
	outline: 1px solid black;
}

.add-to-cart {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 1.05em;
	background-color: rgba(196, 117, 0, 0.8);
	cursor: pointer;
	transition: background-color 0.3s;
}

.add-to-cart:hover,
.add-to-cart:focus {
	background-color: rgba(196, 117, 0, 1);
}

/* card svgs */

.card-heading {
	display: flex;
}

.card-tag {
	display: flex;
	height: 100%;
}

.card-svg {
	width: 18px;
	height: 18px;
	margin-left: 5px;
	background-size: 18px;
}

.svg-vegan {
	background-image: url(../../assets/visual/pizza-filter/vegan.svg);
}

.svg-vegetarian {
	background-image: url(../../assets/visual/pizza-filter/vegetarian.svg);
}

.svg-spicy {
	background-image: url(../../assets/visual/pizza-filter/spicy.svg);
}
